@import "styles/globals.scss";

.card {
    @extend .shadow;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    background-color: white;
    min-height: 400px;
    overflow: hidden;
    position: relative;
}

.picture {
    object-fit: contain;
    max-height: 300px;
    overflow: hidden;
}

.content {
    padding: 25px 25px;
}

.projectName {
    color: $primary;
    font-size: 1.2rem;
    font-weight: 800;
}

.tags {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .tag {
        white-space: nowrap;
        border-radius: 999px;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 2px 15px;
    }
}

.description {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.link {
    position: absolute;
    right: 10px;
    top: 10px;

    .linkElm {
        color: black;
        margin-left: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 999px;
        padding: 7px 15px;
        display: flex;
        justify-content: center;
        line-height: 1;
        backdrop-filter: blur(20px) saturate(80%);
        color: white;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .linkName {
            margin-right: 20px;
            white-space: nowrap;
        }
    }
}
