$background-soft: #edf9ff;
$primary: #005da9;
$tablet-max: 1023px;

$background-soft-transparent: rgba(237, 249, 255, 0.5);

.shadow {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.shadow-05 {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02);
}
